## Put this in ~/.anigrate/config

# Database location examples
## Use sqlalchemy connection strings 
[database]
#uri=sqlite:////home/myuser/.anigrate/db
#uri=mysql://remoteuser:password@domain.tld:5432/anigratedb
